
.my-div1{
    text-align: left;
    border:3px solid rgb(226, 105, 75);
    color: 30px red;
    
}

div{
    border: 5px solid tan;
}
.my-div2{
    
    text-align: left;
    border:3px solid indigo;
    color: 30px red;
}

